@media (max-width: 2400px) {
  html {
    .section-item {
      section {
        grid-template-columns: repeat(6, 14vw);
      }
    }
  }
}

@media (max-width: 2000px) {
  html {
    .section-item {
      section {
        grid-template-columns: repeat(5, 17vw);
      }
    }
  }
}

@media (max-width: 1600px) {
  html {
    .section-item {
      section {
        grid-template-columns: repeat(4, 21vw);
      }
    }
  }
}

@media (max-width: 1200px) {
  html {
    .section-item {
      section {
        grid-template-columns: repeat(3, 28vw);
      }
    }
  }
}

@media (max-width: 1180px) {
  html {
    font-size: 56%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 44%;
  }
}

@media (max-width: 780px) {
  html {
    .section-item {
      padding: 8rem 2.4rem;
      section {
        grid-template-columns: repeat(2, 42vw);
      }
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 38%;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 36%;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 34%;
  }
}

@media (max-width: 370px) {
  html {
    font-size: 32%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 30%;
  }
}
